#!/usr/bin/env sh

set -e

# Source debconf library
. /usr/share/debconf/confmodule

# Ask the question
db_input low iptables-firewall/script || true
db_go

# Check their answer
db_get iptables-firewall/script
if [ "$RET" ]; then
	ln -s -f /usr/share/iptables-firewall/scripts/iptables-$RET.sh /usr/lib/iptables-firewall/script
	ln -s -f /usr/share/iptables-firewall/scripts/ip6tables-$RET.sh /usr/lib/iptables-firewall/script6
else
	ln -s -f /usr/share/iptables-firewall/scripts/iptables-firewall.sh /usr/lib/iptables-firewall/script
	ln -s -f /usr/share/iptables-firewall/scripts/ip6tables-firewall.sh /usr/lib/iptables-firewall/script6
fi

